[submodule "ros2_ws/src/turtlebot_core"]
	path = ros2_ws/src/turtlebot_core
	url = https://github.com/chucholoport/turtlebot_core.git
	branch = develop
[submodule "ros2_ws/src/uno_q_bridge"]
	path = ros2_ws/src/uno_q_bridge
	url = https://github.com/chucholoport/uno_q_bridge.git
	branch = develop
[submodule "esp32_ws/chassis/components/micro_ros_espidf_component"]
	path = esp32_ws/chassis/components/micro_ros_espidf_component
	url = https://github.com/micro-ROS/micro_ros_espidf_component.git
	branch = jazzy